[package]
name = "rust_lib"
version = "0.7.0"
authors = ["Kirill Kuzminykh <cykooz@gmail.com>"]
homepage = "https://github.com/Cykooz/cykooz.heif"
edition = "2021"


[lib]
name = "rust_lib"
crate-type = ["cdylib"]


[package.metadata.maturin]
name = "cykooz.heif.rust_lib"


[dependencies]
libheif-rs = "0.15.1"
pyo3 = { version = "0.18", features = ["extension-module"] }


[profile.release]
lto = true
opt-level = 3
codegen-units = 1
