include README.rst CHANGES.rst LICENSE
include RELEASE-VERSION version.py

include Cargo.toml requirements-dev.txt rust-toolchain
recursive-include src *
recursive-include cykooz *

global-exclude __pycache__ *.py[cod]
global-exclude .DS_Store *.so

exclude make_release.sh build_wheels.sh
exclude tests docker wheels
recursive-exclude tests *
recursive-exclude docker *
recursive-exclude wheels *
